@page "/Auth"

@inject IJSRuntime JSRuntime
@inject NavigationManager NavMan
@if (isLoggedIn)
{
    <h3>Welcome, @username!</h3>
    <button @onclick="Logout">Logout</button>
}
else
{
    <h3>Please log in</h3>
    <button @onclick="Login">Login</button>
}

@code {
    private string username;
    private bool isLoggedIn;

    protected override async Task OnInitializedAsync()
    {
        
        string isLoggedInString = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "isLoggedIn");

        isLoggedIn = !string.IsNullOrEmpty(isLoggedInString) && bool.TryParse(isLoggedInString, out bool isLoggedInResult) && isLoggedInResult;
        username = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "username");
        if(!isLoggedIn){ NavMan.NavigateTo("/"); }
    }

    private async Task Login()
    {
        NavMan.NavigateTo("/");
    }

    private async Task Logout()
    {
        
        isLoggedIn = false;
        username = "";
     
        await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "isLoggedIn");
        await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "username");
    }
}