@page "/fetchdata"
@using DatingApp.Data
@using System.Data.SqlClient

<PageTitle>test</PageTitle>

<h1>input username</h1>

<div class="form-group">
    <label for="test">Username</label>
    <input id="test" class="form-control" @bind="test" />
</div>

<div class="form-group">
    <label for="AccId">@AccId</label>  
</div>

<button class="btn btn-primary" @onclick="test1">test</button>

@code {
    string test;
    int AccId;

    private void test1()
    {
        string connectionString = "Data Source=SKAB2-PC1;Initial Catalog=NonLonelySim;Integrated Security=True;TrustServerCertificate=True;";
        using (SqlConnection connection = new SqlConnection(connectionString))
        {
            connection.Open();

            using (SqlCommand cmd = new SqlCommand())
            {
                cmd.Connection = connection;
                cmd.CommandText = "SELECT Id FROM Account WHERE UserName = @UserName";

                
                cmd.Parameters.AddWithValue("@UserName", test);

                object accountId = cmd.ExecuteScalar(); 

                if (accountId != null)
                {
                    int accId = Convert.ToInt32(accountId);
                    AccId = accId;
                }
            }

            connection.Close();
        }
    }
}
