@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager NavMan
<PageTitle>DatingApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button type="button" class="btn btn-primary" @onclick="Logout">LogOut</button>
            @*<a href="" target="_blank">LogOut</a>*@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    private bool isLoggedIn;
    private string username;
    private async Task Logout()
    {
        isLoggedIn = false;
        username = "";

        await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "isLoggedIn");
        await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "username");
        NavMan.NavigateTo("/");
    }
}
